.undo-canvas-button{
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #3f51b5;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  line-height: 32px;
  text-transform: uppercase;
  float: left;
  }
  .undo-canvas-button:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .undo-canvas-button a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }